body {
    background-color: gray;
}

p {
    margin-right: 500px;
    font-family: 'Times New Roman';
    margin-left: 40px;
}

.heading {
    text-align: center;
    border-width: thick;
    border-color: black;
    border-style: solid;
    background-color: red;
    overflow: auto;
}

.heading h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    margin-left: 250px;
    margin-right: 250px;

}

.heading img {
    width: 250px;
    height: 100px;
}


.h {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.images {
    width: 150px;
    height: 125px;
    display: block;
    border-style: solid;
    border-width: thin;
    border-color: black;
    margin-right: 4px;
}

.img_container {
    display: table-cell;
    justify-content: flex-end;
    align-items: flex-start;
    float: right;
    padding-top: 20px;
}

footer {
    padding: 10px;
    border-width: thick;
    border-style: solid;
    border-color: red;
    width: fit-content;
}

footer p {
    font-size: 12px;
}


h5 {
    margin-left: 20px;
}



