body {
    background-color: ivory;
}

p {
    margin-right: 500px;
    font-family: 'Times New Roman';
    margin-left: 40px;
}

.heading {
    text-align: center;
    border-width: thick;
    border-color: black;
    border-style: solid;
    background-color: transparent;
}

.heading h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;

}


.sub-h {
    margin-right: 275px;
    margin-left: 275px;
    font-family: 'Times New Roman';
}

.h {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.images {
    width: 150px;
    height: 125px;
    display: block;
    border-style: solid;
    border-width: thin;
    border-color: black;
    margin-right: 0px;
}

.img_container {
    display: table-cell;
    justify-content: flex-end;
    align-items: flex-start;
    float: right;
}

footer {
    padding: 10px;
    border-width: thin;
    border-style: solid;
    width: fit-content;
}

footer p {
    font-size: 12px;
}

h5 {
    margin-left: 20px;
}


